<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">

	 <br>
	 <br>


		<h1 class="display-3">Aplicacion para registro de calificaciones</h1>
		<p>Esta herramiente permite registrar las calificaciones obtenidas en cada materia estudiado. Puede registrar, carreras, asignaturas y trimestres. Tambien puede registrar los datos del profesor por cada asignatura..</p>

		


		
	</div>
</div>

<div
	class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Registro detallado</h2>
			<p>Registre datos generales de la Universidad, trimestres, materias y las calificaciones.</p>
			
		</div>
		<div class="col-md-4">
			<h2>Perfil individual</h2>
			<p>Cada perfil registra de manera independiente los datos. La información permanece segura para el usuario conectado.</p>
			
		</div>
		<div class="col-md-4">
			<h2>Control de Notas</h2>
			<p>De esta manera se llevará el control de notas por asignatura, trimestre y carrera así el docente podrá tener un control de ellas y también los alumnos tendrán un control de cada clase que matriculada.</p>
			
		</div>
	</div>

	<hr>

</div>
<!-- /container -->
